openapi: 3.0.0
info:
  title: Erleah n8n documentation
  version: 1.0.0
  description: Documentation for Erleah n8n workflow endpoints
servers:
  - url: https://n8n-sandbox.visualhive.co/webhook
    description: Erleah n8n server
paths:
  /health:
    post:
      summary: Health check
      description: A simple test endpoint that returns an OK response
      operationId: healthCheck
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: ok
  /first-responder:
    post:
      summary: First Responder
      description: Get a quick response to fill the time before the full chatbot response
      operationId: firstResponder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: User email address
                  example: ""
                messageHistory:
                  type: array
                  description: History of messages in the conversation
                  items:
                    type: object
                    properties:
                      message:
                        type: string
                        description: Message content
                      timeElapsed:
                        type: integer
                        description: Time elapsed in seconds
                      id:
                        type: string
                        description: Unique message identifier
                elapsedTime:
                  type: integer
                  description: Time elapsed since the conversation started (in seconds)
                name:
                  type: string
                  description: User's full name
                job:
                  type: string
                  description: User's job title
                interests:
                  type: string
                  description: User's interests in the conference event
                goals:
                  type: string
                  description: User's goals at the conference event
                userType:
                  type: string
                  description: Type of user (e.g., Technical Professional, Business Professional)
                department:
                  type: string
                  description: User's department (e.g., Data and Analytics, Marketing)
                userPrompt:
                  type: string
                  description: User's current message or question
                id:
                  type: string
                  description: Unique identifier for the current message
            example:
              email: ""
              messageHistory: []
              elapsedTime: 1
              name: "Bogdan"
              job: "Founder"
              interests: ""
              goals: ""
              userType: "Technical Professional"
              department: "Data and Analytics"
              userPrompt: "How can I access the app?"
              id: "H8FtVZLDEt"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: Response message
              example:
                text: "I'm still digging through the conference schedule to find the most relevant sessions on user adoption that would be a great fit for someone in Customer Service and Management within the Solutions Provider industry, and I'll have some tailored recommendations for you shortly."  
  /astraDbRecord:
    post:
      summary: Retrieve AstraDB Record
      description: Retrieves a record from AstraDB based on the provided record ID in the request body
      operationId: getAstraDbRecord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recordId:
                  type: string
                  description: The unique identifier of the record to retrieve
              required:
                - recordId
            example:
              recordId: "fa189d31-4980-4653-989d-314980865362"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Response:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: Record unique identifier
                        ExhibitorID:
                          type: string
                          description: Exhibitor unique identifier
                        CompanyName:
                          type: string
                          description: Name of the company
                        BoothNumber:
                          type: string
                          description: Booth number at the event
                        WebsiteURL:
                          type: string
                          description: Company website URL
                        LogoURL:
                          type: string
                          description: URL to company logo
                        Description:
                          type: string
                          description: Company description
                        IndustryFocus:
                          type: string
                          description: Industries the company focuses on (pipe-separated values)
                        ProductServiceCategories:
                          type: string
                          description: Categories of products or services (pipe-separated values)
                        TechnologyKeywords:
                          type: string
                          description: Technology-related keywords (pipe-separated values)
                        ProblemsSolved:
                          type: string
                          description: Problems the company solves (pipe-separated values)
                        TargetAttendeePositions:
                          type: string
                          description: Target job positions (pipe-separated values)
                        TargetCompanyTypes:
                          type: string
                          description: Target company types (pipe-separated values)
                        TargetGeographicMarkets:
                          type: string
                          description: Target geographic markets (pipe-separated values)
                        CompanySize:
                          type: string
                          description: Company size category
                        CompanySizeNr:
                          type: string
                          description: Company size range
                        ExhibitorGoals:
                          type: string
                          description: Exhibitor goals at the event (pipe-separated values)
                        Event:
                          type: string
                          description: Event name
                        content:
                          type: string
                          description: Formatted content information
                        metadata:
                          type: string
                          description: Additional metadata in JSON string format
                    metadata:
                      type: string
                      description: Metadata in JSON string format
                    CollectionName:
                      type: string
                      description: Name of the database collection
              example:
                - Response:
                    _id: "fa189d31-4980-4653-989d-314980865362"
                    ExhibitorID: "IS-EXH-045"
                    CompanyName: "CircuTech Materials"
                    BoothNumber: "B338"
                    WebsiteURL: "https://www.circutechmat.com"
                    LogoURL: "https://cdn.fakesite.com/logos/is-exh-045.png"
                    Description: "Developing advanced materials and processes for circular economy applications, focusing on recycling and sustainable manufacturing."
                    IndustryFocus: "Sustainability|Manufacturing|Materials Science"
                    ProductServiceCategories: "Sustainable Materials|Advanced Recycling Tech|Circular Economy Consulting"
                    TechnologyKeywords: "Materials Science|Chemical Engineering|Sustainability"
                    ProblemsSolved: "Waste Reduction|Resource Efficiency|Sustainable Products"
                    TargetAttendeePositions: "Materials Scientist|Sustainability Manager|Manufacturing Engineer"
                    TargetCompanyTypes: "Manufacturer|Consumer Goods Company"
                    TargetGeographicMarkets: "Europe"
                    CompanySize: "Startup"
                    CompanySizeNr: "1-50"
                    ExhibitorGoals: "Market Research|Brand Awareness"
                    Event: "InnovateSphere 2025"
                    content: "Company\": \"CircuTech Materials\", \"; Sectors\": \"Sustainability|Manufacturing|Materials Science\", \"Stand\": \"B338\", \"Description\": \"Developing advanced materials and processes for circular economy applications, focusing on recycling and sustainable manufacturing.\", \"Products & Services\": \"Sustainable Materials|Advanced Recycling Tech|Circular Economy Consulting\", \"Tech\": \"Materials Science|Chemical Engineering|Sustainability\", \"Problems Solved\": \"Waste Reduction|Resource Efficiency|Sustainable Products\", \"Target Audience\": \"Materials Scientist|Sustainability Manager|Manufacturing Engineer\", \"Target Company\": \"Manufacturer|Consumer Goods Company\", \"Target Geographically\": \"Europe\", \"Company Size\": \"Startup\", \"Company Goals\": \"Market Research|Brand Awareness"
                    metadata: "{\"exhibitor_id\": \"IS-EXH-045\", \"event\": \"InnovateSphere 2025\", \"company\": \"CircuTech Materials\", \"sectors\": \"Sustainability|Manufacturing|Materials Science\", \"Taget\": \"Europe\"}"
                  metadata: "{\"exhibitor_id\": \"IS-EXH-045\", \"event\": \"InnovateSphere 2025\", \"company\": \"CircuTech Materials\", \"sectors\": \"Sustainability|Manufacturing|Materials Science\", \"Taget\": \"Europe\"}"
                  CollectionName: "exhibitors"
        '500':
          description: Error retrieving record
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Error code
                    example: "500"
                  error:
                    type: string
                    description: Error message
              example:
                code: "500"
                error: "some error"
  /chat:
    post:
      summary: Chat Endpoint
      description: Endpoint for processing user chat messages and returning AI-generated responses
      operationId: chatEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: User's email address
                name:
                  type: string
                  description: User's full name
                job:
                  type: string
                  description: User's job title
                interests:
                  type: string
                  description: User's interests in the conference event
                goals:
                  type: string
                  description: User's goals at the conference event
                industry:
                  type: string
                  description: User's professional industry
                skills:
                  type: string
                  description: User's professional skills
                userPrompt:
                  type: string
                  description: User's message or question
                session:
                  type: string
                  description: Unique identifier for the chat session
              required:
                - email
                - userPrompt
                - session
            example:
              email: "user email"
              name: "user's full name"
              job: "user's job title"
              interests: "user's interests in the conference event"
              goals: "user's goals at the conference event"
              industry: "user's professional industry"
              skills: "the user's professional skills"
              userPrompt: "Can I cancel my pass and get a refund?"
              session: "chat session unique id"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  output:
                    type: object
                    properties:
                      assistantResponse:
                        type: string
                        description: AI-generated response to the user query
                      resultsArray:
                        type: array
                        description: Array of relevant records used to generate the response
                        items:
                          type: object
                          properties:
                            Record_id:
                              type: string
                              description: Unique identifier of the record
                            collection_name:
                              type: string
                              description: Name of the database collection
                            why_chosen:
                              type: string
                              description: Explanation for why this record was chosen
              example:
                output:
                  assistantResponse: >-
                    Here are some sessions related to user adoption at the MAU conference:

                    1. **Redefining Active Users: A Scalable Approach for Growing App Portfolios**
                       - **Description:** This presentation highlights how the Fabulous team tackled the challenge of defining "Active User" within a growing portfolio of apps, features, and active events. Attendees will learn how to balance simplicity and precision in engagement analytics to optimize retention and campaign strategies across dynamic product ecosystems.
                       - **Track:** Innovation in Action Track
                       - **Time:** May 22, 2025, 14:00 - 14:20
                       - **Speakers:** Alice Brower, Filippo De Rose

                    2. **Optimizing Onboarding and Monetization at LingQ**
                       - **Description:** This case study discussion will focus on improving onboarding, monetization, and overall growth of the LingQ language learning apps. Key insights include the role of UX design and user psychology in enhancing the onboarding journey.
                       - **Track:** Monetization & Revenue Optimization Track
                       - **Time:** May 22, 2025, 10:30 - 10:50
                       - **Speakers:** Mark Kaufmann, Thomas Siegl

                    3. **Using Video & AI To Grow (and Keep) Users**
                       - **Description:** This session will cover strategies for acquiring and retaining users through creative strategy and AI, including insights from Nay's experience with over 200 million views on social media.
                       - **Track:** Innovation in Action Track
                       - **Time:** May 22, 2025, 09:00 - 09:20
                       - **Speakers:** Andrew Amann, Nay Cook-Nelson

                    4. **7 Counterintuitive App Growth Strategies That Actually Work**
                       - **Description:** This session is designed for app developers and marketers looking for innovative ways to scale their apps. Key takeaways include why fewer features can lead to higher engagement and the impact of the "free trial" model on revenue.
                       - **Track:** Customer Experience, Retention, and User Acquisition Track
                       - **Time:** May 22, 2025, 14:00 - 14:20
                       - **Speaker:** Steve Young

                    5. **Spotify & Meta: Boosting Profit Through Retention—Leveraging pLTV Models to Maximize MAU & Subscriptions**
                       - **Description:** This session will showcase how advanced predictive Lifetime Value modeling drives profitable user acquisition and sustained engagement, focusing on retention strategies.
                       - **Track:** Monetization & Revenue Optimization Track
                       - **Time:** May 21, 2025, 14:30 - 14:50
                       - **Speakers:** Luke Morrow, Parker Patel, Yfran Garcia

                    These sessions will provide valuable insights into user adoption strategies and are perfect for professionals in your field. If you have any more questions or need further assistance, feel free to ask!
                  resultsArray:
                    - Record_id: "7f4aa8b6-e1cc-4419-8aa8-b6e1cc04194a"
                      collection_name: "sessions"
                      why_chosen: "This session focuses on defining 'Active User' which is crucial for user adoption."
                    - Record_id: "28e941e0-043c-4887-a941-e0043c6887a2"
                      collection_name: "sessions"
                      why_chosen: "This case study discusses onboarding and monetization, key aspects of user adoption."
                    - Record_id: "98fe0782-83e6-4de6-be07-8283e60de602"
                      collection_name: "sessions"
                      why_chosen: "This session covers strategies for user acquisition and retention, vital for user adoption."
                    - Record_id: "c0cd5bd6-da38-4237-8d5b-d6da38a237a9"
                      collection_name: "sessions"
                      why_chosen: "This session provides innovative growth strategies that can enhance user adoption."
                    - Record_id: "e2097bb8-9e46-41b8-897b-b89e46f1b8c1"
                      collection_name: "sessions"
                      why_chosen: "This session focuses on retention strategies, which are essential for maximizing user adoption."
