openapi: 3.0.0
info:
  title: Erleah n8n documentation
  version: 1.0.0
  description: Documentation for Erleah n8n workflow endpoints
servers:
  - url: https://n8n-sandbox.visualhive.co/webhook
    description: Erleah n8n server
paths:
  /health:
    post:
      summary: Health check
      description: A simple test endpoint that returns an OK response
      operationId: healthCheck
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: ok
  /first-responder:
    post:
      summary: First Responder
      description: Get a quick response to fill the time before the full chatbot response
      operationId: firstResponder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: User email address
                  example: ""
                messageHistory:
                  type: array
                  description: History of messages in the conversation
                  items:
                    type: object
                    properties:
                      message:
                        type: string
                        description: Message content
                      timeElapsed:
                        type: integer
                        description: Time elapsed in seconds
                      id:
                        type: string
                        description: Unique message identifier
            example:
              email: ""
              messageHistory:
                - message: "I'm on it. Let me check the conference schedule for any sessions related to user adoption, and I'll get back to you right away."
                  timeElapsed: 2
                  id: "Qnk2aUes7E"
                - message: "I'm still searching for the most relevant sessions on user adoption at the MAU conference, I appreciate your patience and I'll have that information for you shortly."
                  timeElapsed: 13
                  id: "lDNV8gEPDA"
                - message: "I'm continuing to search through the conference schedule to find the most relevant sessions on user adoption that would be beneficial for a professional in the Solutions Provider industry, particularly in Customer Service and Management, and I'll have some recommendations for you very soon."
                  timeElapsed: 24
                  id: "xN1wmiY63x"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: Response message
              example:
                text: "I'm still digging through the conference schedule to find the most relevant sessions on user adoption that would be a great fit for someone in Customer Service and Management within the Solutions Provider industry, and I'll have some tailored recommendations for you shortly."
  /astraDbRecord:
    get:
      summary: Retrieve AstraDB Record
      description: Retrieves a record from AstraDB based on the provided record ID
      operationId: getAstraDbRecord
      parameters:
        - name: recordId
          in: query
          required: true
          description: The unique identifier of the record to retrieve
          schema:
            type: string
          example: "fa189d31-4980-4653-989d-314980865362"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    Response:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: Record unique identifier
                        ExhibitorID:
                          type: string
                          description: Exhibitor unique identifier
                        CompanyName:
                          type: string
                          description: Name of the company
                        BoothNumber:
                          type: string
                          description: Booth number at the event
                        WebsiteURL:
                          type: string
                          description: Company website URL
                        LogoURL:
                          type: string
                          description: URL to company logo
                        Description:
                          type: string
                          description: Company description
                        IndustryFocus:
                          type: string
                          description: Industries the company focuses on (pipe-separated values)
                        ProductServiceCategories:
                          type: string
                          description: Categories of products or services (pipe-separated values)
                        TechnologyKeywords:
                          type: string
                          description: Technology-related keywords (pipe-separated values)
                        ProblemsSolved:
                          type: string
                          description: Problems the company solves (pipe-separated values)
                        TargetAttendeePositions:
                          type: string
                          description: Target job positions (pipe-separated values)
                        TargetCompanyTypes:
                          type: string
                          description: Target company types (pipe-separated values)
                        TargetGeographicMarkets:
                          type: string
                          description: Target geographic markets (pipe-separated values)
                        CompanySize:
                          type: string
                          description: Company size category
                        CompanySizeNr:
                          type: string
                          description: Company size range
                        ExhibitorGoals:
                          type: string
                          description: Exhibitor goals at the event (pipe-separated values)
                        Event:
                          type: string
                          description: Event name
                        content:
                          type: string
                          description: Formatted content information
                        metadata:
                          type: string
                          description: Additional metadata in JSON string format
                    metadata:
                      type: string
                      description: Metadata in JSON string format
                    CollectionName:
                      type: string
                      description: Name of the database collection
              example:
                - Response:
                    _id: "fa189d31-4980-4653-989d-314980865362"
                    ExhibitorID: "IS-EXH-045"
                    CompanyName: "CircuTech Materials"
                    BoothNumber: "B338"
                    WebsiteURL: "https://www.circutechmat.com"
                    LogoURL: "https://cdn.fakesite.com/logos/is-exh-045.png"
                    Description: "Developing advanced materials and processes for circular economy applications, focusing on recycling and sustainable manufacturing."
                    IndustryFocus: "Sustainability|Manufacturing|Materials Science"
                    ProductServiceCategories: "Sustainable Materials|Advanced Recycling Tech|Circular Economy Consulting"
                    TechnologyKeywords: "Materials Science|Chemical Engineering|Sustainability"
                    ProblemsSolved: "Waste Reduction|Resource Efficiency|Sustainable Products"
                    TargetAttendeePositions: "Materials Scientist|Sustainability Manager|Manufacturing Engineer"
                    TargetCompanyTypes: "Manufacturer|Consumer Goods Company"
                    TargetGeographicMarkets: "Europe"
                    CompanySize: "Startup"
                    CompanySizeNr: "1-50"
                    ExhibitorGoals: "Market Research|Brand Awareness"
                    Event: "InnovateSphere 2025"
                    content: "Company\": \"CircuTech Materials\", \"; Sectors\": \"Sustainability|Manufacturing|Materials Science\", \"Stand\": \"B338\", \"Description\": \"Developing advanced materials and processes for circular economy applications, focusing on recycling and sustainable manufacturing.\", \"Products & Services\": \"Sustainable Materials|Advanced Recycling Tech|Circular Economy Consulting\", \"Tech\": \"Materials Science|Chemical Engineering|Sustainability\", \"Problems Solved\": \"Waste Reduction|Resource Efficiency|Sustainable Products\", \"Target Audience\": \"Materials Scientist|Sustainability Manager|Manufacturing Engineer\", \"Target Company\": \"Manufacturer|Consumer Goods Company\", \"Target Geographically\": \"Europe\", \"Company Size\": \"Startup\", \"Company Goals\": \"Market Research|Brand Awareness"
                    metadata: "{\"exhibitor_id\": \"IS-EXH-045\", \"event\": \"InnovateSphere 2025\", \"company\": \"CircuTech Materials\", \"sectors\": \"Sustainability|Manufacturing|Materials Science\", \"Taget\": \"Europe\"}"
                  metadata: "{\"exhibitor_id\": \"IS-EXH-045\", \"event\": \"InnovateSphere 2025\", \"company\": \"CircuTech Materials\", \"sectors\": \"Sustainability|Manufacturing|Materials Science\", \"Taget\": \"Europe\"}"
                  CollectionName: "exhibitors"
        '500':
          description: Error retrieving record
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Error code
                    example: "500"
                  error:
                    type: string
                    description: Error message
              example:
                code: "500"
                error: "some error"
