openapi: 3.0.0
info:
  title: Erleah n8n documentation
  version: 1.0.0
  description: Documentation for Erleah n8n workflow endpoints
servers:
  - url: https://n8n-sandbox.visualhive.co/webhook
    description: Erleah n8n server
paths:
  /health:
    post:
      summary: Health check
      description: A simple test endpoint that returns an OK response
      operationId: healthCheck
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: ok
  /first-responder:
    post:
      summary: First Responder
      description: Get a quick response to fill the time before the full chatbot response
      operationId: firstResponder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: User email address
                  example: ""
                messageHistory:
                  type: array
                  description: History of messages in the conversation
                  items:
                    type: object
                    properties:
                      message:
                        type: string
                        description: Message content
                      timeElapsed:
                        type: integer
                        description: Time elapsed in seconds
                      id:
                        type: string
                        description: Unique message identifier
            example:
              email: ""
              messageHistory:
                - message: "I'm on it. Let me check the conference schedule for any sessions related to user adoption, and I'll get back to you right away."
                  timeElapsed: 2
                  id: "Qnk2aUes7E"
                - message: "I'm still searching for the most relevant sessions on user adoption at the MAU conference, I appreciate your patience and I'll have that information for you shortly."
                  timeElapsed: 13
                  id: "lDNV8gEPDA"
                - message: "I'm continuing to search through the conference schedule to find the most relevant sessions on user adoption that would be beneficial for a professional in the Solutions Provider industry, particularly in Customer Service and Management, and I'll have some recommendations for you very soon."
                  timeElapsed: 24
                  id: "xN1wmiY63x"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: Response message
              example:
                text: "I'm still digging through the conference schedule to find the most relevant sessions on user adoption that would be a great fit for someone in Customer Service and Management within the Solutions Provider industry, and I'll have some tailored recommendations for you shortly."
